@import url(https://fonts.googleapis.com/css?family=Permanent+Marker|Oswald:700,400,300);

html{
  background:black;
}

nav{
display:block;
width:100%; 
}

nav ul{
  list-style:none;
}
nav ul li{
  display:inline-block;
  padding-top:1%;
  padding-bottom:1%;
  height:35px;
  width:15%;
  background:#8B0000;
  text-align:center;
}

 a{
  font-family:'Oswald', sans-serif;
  font-weight:700;
  font-size:1.5em;
  text-decoration:none;
  color:snow;
 }
/************************/
ul li:hover{
  background:gray;
}

#wrapper{
  width:650px;
  height:690px;
  -webkit-border-radius:3%;
  -moz-border-radius:3%;
  border-radius:3%;
  margin:0 auto;
  padding:10px;
  background:snow;
}
input[type="text"],
input[type="password"],
label{
  margin-left:20%;
}
input[type="text"],
input[type="password"]{
  width:55.556%;
  height:30px;
  display:block;

  magin-bottom:15px;
  box-shadow:5px 5px 5px gray;
  -webkit-box-shadow:5px 5px 5px gray;
  -moz-box-shadow:5px 5px 5px gray;
  -webkit-border:1px solid;
  -moz-border:1px solid;
  -o-border:1px solid;
  border:1px solid;
  font-family:"Oswald",sans-serif;
  font-size:0.95em;
  letter-spacing:1px;
}

input[type="submit"]{
  font-family:"Permanent Marker", Charcoal, sans-serif;
  font-size:1.3em;
  margin:3% 0 0 26% ;
  padding:.615%;
  width:45%;
  height:55px;   
  background-color:#555;
  border:solid transparent;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

h1{
  text-align:center; 
  font-family:"Permanent Marker", sans-serif;
  font-size:2.45em;
}

label{
  font-family:"Oswald", sans-serif;
  font-size:1.05em;
}
footer{
  margin:3px;
  font-family:sans-serif;
  color:snow;
  text-align:center;
}

 input:hover{
  background:black;
  color:snow;
}
 
input[type="submit"]:hover{
  background:#8B0000;
  color:#fff;
}

/************MEDIA QUERIES************/
@media screen and (min-width: 550px) and (max-width:750px ){
  a{font-size:1.35em;}
}
@media screen and (max-width: 550px){
  #wrapper{
    width:95%;
    height:80%;
    padding:3.508%;
  }

  h1{
    font-size:1.9em;
    }
  label{
    font-size:0.875em;
  }
  input{
    width:80%;
    height:20px;
    font-size:0.75em;
  }
  input[type="submit"]{
    width:45%;
    font-size:1.1em;
    margin:3% 0% 0% 23%;
  }
  
}