*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(photo-1507842217343-583bb7270b66.jpg);
    background-size:cover;
    box-sizing: border-box;
}

.navbar{
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0,0.3);
    border-radius: 6px;
}
nav{
    flex: 1;
    text-align: left;
    margin-left: 45px;
    font-weight: bold;
}

nav ul li{
    list-style: none;
    display: inline;
    margin-left: 30px;
}
li a:hover {
    background-color: #111;
    padding: 8px;
  }
  nav ul li button
  {
      font-size: 20px;
      color: white;
      outline: none;
      border:none;
      background:transparent;
      cursor: pointer;
      font-family: sans-serif;
      width:110%;
      height: 35px;
  
  }
  nav ul li button:hover
  {
      background-color:rgb(73, 129, 129);
      border-radius:10px;
      border-width: 5px;
      transform: translateY(-2px);
  }
#logout
{
    box-align:right ;
    transform: translate(875px,0px);
}

.cards1
{
    margin-top: 100px;
    margin-left: 400px;
    width: 100%;
    height: 100%;
}
.card1
{
    
    height: 200px;
    width: 200px;
    border-radius: 10px;

    
    

}
.cards1{
    background-color: transparent;
    perspective: 1000px;
    width: 200px;;
    height: 200px;;
}
.card1
{
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
 .cards1:hover .card1
{
    transform: rotateY(180deg);
}
.card1front,.card1back
{
    position:absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
}
.card1front
{
    background-color:transparent;
    color: black;
}
.card1back
{
    background-color: rgb(151, 200, 202);
    color: black;
    transform: rotateY(180deg);
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.card1back a{
    text-decoration: none;
    color: black;
    margin-top: 50%;
    
}
.card1back a h1
{
    transform: translate(0,75px);
}
.cards2
{
    background-color: rgb(252, 252, 253);
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-top: -300px;
    margin-left: 250px;
    
}
.cards2
{
    margin-top: -200px;
    margin-left: 650px;
}
.card2
{
    
    height: 200px;
    width: 200px;
    border-radius: 10px;
    
    
    

}
.cards2{
    background-color: transparent;
    perspective: 1000px;
}
.card2
{
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
 .cards2:hover .card2
{
    transform: rotateY(180deg);
}
.card2front,.card2back
{
    position:absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
}
.card2front
{
    background-color:transparent;
    color: black;
}
.card2back
{
    background-color: rgb(151, 200, 202);
    color: black;
    transform: rotateY(180deg);
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.card2back a{
    text-decoration: none;
    color: black;
    margin-top: 50%;
    
}
.card2back a h1
{
    transform: translate(0,75px);
}
.cards3
{
    margin-top: 50px;
    margin-left: 400px;
    width: 200px;;
    height: 200px;;
}
.card3
{
    
    height: 200px;
    width: 200px;
    border-radius: 10px;
    
    
    

}
.cards3{
    background-color: transparent;
    perspective: 1000px;
}
.card3{
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
 .cards3:hover .card3
{
    transform: rotateY(180deg);
}
.card3front,.card3back
{
    position:absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
}
.card3front
{
    background-color:transparent;
    color: black;
    cursor: pointer;
}
.card3back
{
    background-color: rgb(151, 200, 202);
    color: black;
    transform: rotateY(180deg);
    text-decoration: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.card3back a{
    text-decoration: none;
    color: black;
    margin-top: 50%;
    
}
.card3back a h1
{
    transform: translate(0,75px);
}
.cards4
{
    margin-top: -200px;
    margin-left: 650px;
}
.card4
{
    
    height: 200px;
    width: 200px;
    border-radius: 10px;
    
    
    

}
.cards4{
    background-color: transparent;
    perspective: 1000px;
    width: 200px;
    height: 200px;
}
.card4
{
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
 .cards4:hover .card4
{
    transform: rotateY(180deg);
}
.card4front,.card4back
{
    position:absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
}
.card4front
{
    background-color: royalblue;
    color: black;
}
.card4back
{
    background-color: rgb(151, 200, 202);
    color: black;
    transform: rotateY(180deg);
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.card4back a{
    text-decoration: none;
    color: black;
    margin-top: 50%;
    
}
.card4back a h1
{
    transform: translate(0,75px);
}
  
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }