*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(lib1.jpg);
    background-size:cover;
    box-sizing: border-box;
}

.navbar{
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0,0.3);
    border-radius: 6px;
}
nav{
    flex: 1;
    text-align: left;
    margin-left: 45px;
    font-weight: bold;
}

nav ul li{
    list-style: none;
    display: inline;
    margin-left: 30px;
}
li a:hover {
    background-color: #111;
    padding: 8px;
  }
  nav ul li button
  {
      font-size: 20px;
      color: white;
      outline: none;
      border:none;
      background:transparent;
      cursor: pointer;
      font-family: sans-serif;
      width:110%;
      height: 35px;
  
  }
  nav ul li button:hover
  {
      background-color:rgb(73, 129, 129);
      border-radius:10px;
      border-width: 5px;
      transform: translateY(-2px);
  }

.row{
    display: flex;
    height: 10%;
    align-items: center;
    flex-basis: 50%;
    
}


h1{
    height: 10px;
    color: #fff;
    font-size: 80px;
    margin-left: 65px;
    text-shadow:rgba(0,0,0,0.7);
    
}
#login-form
{
    display:contents;
    transform: translate(0,100px);
}
.form-box
{
    width: 380px;
    height: 440px;
    position: relative;
    margin: 1% auto;
    background:transparent;
    padding: 10px;
    overflow: hidden;
    border-radius: 30px;
    border: solid rgb(85, 72, 72);
    
}
.button-box
{
    width: 200px;
    height:50px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    background-color:#CCCFB0;
    border: black;
}
.toggle-btn
{
    padding:10px 30px;
    cursor: pointer;
    background:transparent;
    border: 0;
    outline: none;
    position: relative;

}
#btn
{
    top:0;
    left:0;
    position:absolute;
    width: 90px;
    height: 100%;
    background: #A1B9A3;
    border-color: black;
    border-width: 2px;
    border-radius: 30px;
    transition: .5s;
    

}
.input-group-login
{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
    border-radius: 10px;
    border-color:rgba(78, 51, 51, 0.3);
    border-width: 5px;
    
}
.input-group-register
{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
    border-radius: 10px;
    border-color: rgba(78, 51, 51, 0.3);
    border-width: 5px;
   
}
.input-field
{
    width:100%;
    padding:10px 0;
    
    margin:5px 0;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:1px solid #999;
    outline: none;
    background:transparent;
    border-radius: 10px;
    
}
.input-field::placeholder
{
    color:tomato;

}
.submit-btn
{
    width:85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background:rgb(19, 15, 15);
    
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
    
}
.submit-btn:hover{
    background-color: red;
}
.check-box
{
    margin: 30px 10px 34px 0;


}
span
{
    color:white;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
    background:transparent;
}
#login
{
    left: 50px;
}
#login a{
    text-decoration: none;
    color: white;
}
#login input
{
    color: white;
    font-size: 15;
}
#register
{
    left:450px;
}
#register input
{
    color: white;
    font-size: 15;
}
#btn1
{
   transform: translate(-5px,10px); 
}
#btn2
{
   transform: translate(100px,-26px);
   
}
#at
{
    transform: translate(55px,60px);
    font-size: 30px;
    color: rgb(19, 15, 15);
}